<div class="wrapper">
  <h1>Маршрутизация в Angular 6</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/home"
         routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/lessons"
         routerLinkActive="active">Lessons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/users"
         routerLinkActive="active">Users</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
  <!-- <app-home></app-home>
  <app-users></app-users>
  <app-lessons></app-lessons> -->
</div>